@use "./variables" as *;

//code idea Brent Carey
@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin text-settings($size, $line, $weight) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}

@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
