// primary colors
$brainFlix-Black: #323232;
$brainFlix-Blue: #0096ff;
$silver: #afafaf;
$white: #ffff;

// secondary colors
$brainFlix-DarkBlack: #0000;
$brainFlix-DarkBlue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//Breakpoints
$mobile-breakpoint: 20rem; //320px
$pre-tablet: 40rem;
$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px
