@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.search-form {
  @include flex(_, _, center);
  width: 15rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid silver;
  background-color: $white;
}
.search-input {
  font-size: 0.875rem;
  background: none;
  color: #5a6674;
  width: 12.1875rem;
  height: 1.25rem;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-button {
  height: 1.25rem;
  width: 1.25rem;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}
