@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.header {
  @include flex(column, _, center);
  width: 100%;
  @include tablet {
    @include flex(row, space-between, center);
    width: 100%;
    padding: 0 1.5rem;
    height: 7rem;
  }
  @include desktop {
    padding: 0 8rem;
  }
  height: 12rem;
  &__search-avatar-container {
    @include flex(row, center, center);
    flex-wrap: wrap;

    @include pre-tablet {
      @include flex(row, _, center);
    }

    @include tablet {
      @include flex(row, _, center);
      flex-wrap: nowrap;
    }
  }
  &__avatar {
    margin: 0 0 0 1rem;
    @include pre-tablet {
      order: 1;
    }
    @include tablet {
      order: 1;
    }
  }
}
