@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

.upload-title {
}
.upload-form {
  @include flex(column, _, flex-start);
  width: 100%;
  background-color: $white;
  &__title-container {
    width: 85%;
    margin: 0 auto;
  }
  &__title-label {
    color: $silver;
  }
  &__title-input {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
  }

  &__description-container {
    width: 85%;
    margin: 0 auto;
  }

  &__description-label {
    color: $silver;
  }

  &__description-input {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
  }
}
.publish__icon {
  content: url(../../assets/Icons/publish.svg);
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 7%;
}
.button-container {
  width: 85%;
  margin: 0 auto;
}

.cancel-button {
  width: 100%;
  // background-color: red;
  margin: 0 auto;
  padding: 1rem 0;
  color: $brainFlix-Blue;
  background-color: white;
  border: none;
}
