@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;

.upload-title {
}
.upload-form {
  @include flex(column, _, flex-start);
  width: 100%;
  background-color: $white;
  &____title-label {
  }
  &____title-input {
    width: 50rem;
    height: 5rem;
    margin: 0 auto;
  }

  &____description-label {
  }

  &____description-input {
  }
}
.publish__icon {
  content: url(../../assets/Icons/publish.svg);
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 7%;
}
.button-container {
  width: 85%;
  margin: 0 auto;
}

.cancel-button {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0 0 0;
  color: $brainFlix-Blue;
  background-color: white;
  border: none;
}
